@font-face {
  font-family: "SpaceGrotesk";
  src: url("../assets/fonts/SpaceGrotesk-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../assets/fonts/SpaceGrotesk-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../assets/fonts/SpaceGrotesk-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../assets/fonts/SpaceGrotesk-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../assets/fonts/SpaceGrotesk-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../assets/fonts/SpaceGrotesk-Bold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "CondStd-Bold";
  src: url("../assets/fonts/PFDINTextCondStd-Bold.ttf");
}
